body {
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
  padding-top: 2%;
}

.select {
  padding-bottom: 1%;
}

.home-author {
  display: flex;
  margin: 10px;
}

.card-subtitle.mb-2.text-muted {
  padding-top: 30px;
  margin-left: 1%;
}

.auth-name {
  padding-top: 15px;
  margin-left: 5px;
  margin-top: 10px;
}

.details {
  margin: 2%;
  padding: 2%;
  text-align: center;
}

.element-title {
  padding: 2%;
  text-decoration: underline;
}

.details-author{
  display: flex;
  margin-left: 70%;
  margin-bottom: 10px;
}